extends layout/base.jade

block body

	div#react-body
		
block scripts
	script( src="/vendor/react/dist/react.js" )
	script( src="/vendor/react-dom/dist/react-dom.js" )
	script( src="/javascripts/spa.js" )
